@page "/Admin/Characters"

@using MMO.Data
@using MMO.Game.Data
@inject ApplicationDbContext DbContext

<PageTitle>Characters</PageTitle>
<h3>Character</h3>

<MudDataGrid
    Items="_items">
    <NoRecordsContent><MudText Typo="Typo.h4">No Characters</MudText></NoRecordsContent>
    <Columns>
        <PropertyColumn Property="@(c => c.CharacterId)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.Name)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.PositionX)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.PositionY)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.PositionZ)" Sortable="true"/>
        <PropertyColumn Property="@(c => c.Orientation)" Sortable="true"/>
    </Columns>
</MudDataGrid>

@code {
    IQueryable<Character> _items = null!;

    protected override void OnInitialized()
    {
        _items = DbContext.Characters;
    } 
}