@page "/admin/characters"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid
@using MMOPortal.Data
@using MMOPortal.DTO
@using MMOPortal.GameApi.Data
@using AutoMapper.QueryableExtensions
@using AutoMapper
@inject ApplicationDbContext DbContext
@inject IMapper Mapper

<h3>Character</h3>

<DataGrid 
    Items="items"
    @ref="myGrid">
    <PropertyColumn Property="@(c => c.CharacterId)" Sortable="true"/>
    <PropertyColumn Property="@(c => c.Name)" Sortable="true"/>
    <PropertyColumn Property="@(c => c.PositionX)" Sortable="true"/>
    <PropertyColumn Property="@(c => c.PositionY)" Sortable="true"/>
    <PropertyColumn Property="@(c => c.PositionZ)" Sortable="true"/>
    <PropertyColumn Property="@(c => c.Rotation)" Sortable="true"/>
</DataGrid>

@code {
    DataGrid<CharacterDTO> myGrid;
    IQueryable<CharacterDTO> items;

    protected override void OnInitialized()
    {
        items = DbContext.Set<Character<ApplicationUser, Guid>>().ProjectTo<CharacterDTO>(Mapper.ConfigurationProvider);
    } 
}